[Unit]
Description=lain wireguard vpn %i

[Install]
WantedBy=default.target

[Service]
SyslogIdentifier=lain-wg@%i
Type=oneshot
RemainAfterExit=yes

ExecStartPre=-/usr/bin/ip netns delete %i
ExecStart=/usr/lib/lain/wireguard.bash %i "${CREDENTIALS_DIRECTORY}/interface.conf" "${CREDENTIALS_DIRECTORY}/peer.conf" : "${CREDENTIALS_DIRECTORY}/address"
ExecStop=/usr/bin/ip netns delete %i

LoadCredentialEncrypted=interface.conf:/etc/lain/wg/%i/interface.conf
LoadCredentialEncrypted=peer.conf:/etc/lain/wg/%i/peer.conf
LoadCredentialEncrypted=address:/etc/lain/wg/%i/address

RestartSec=10s
Restart=on-failure

NoNewPrivileges=yes
ProtectHostname=yes
ProtectClock=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
SystemCallErrorNumber=EPERM
SystemCallArchitectures=native
